.box{
    width:100%;
}
#nav{
    width:100%;
    height:30px;
    background:#E3E4E5;
}
.nav{
    height:30px;
    width:1200px;
    margin:auto;
    position: relative;
}
.nav .left{
    height:30px;
    width:150px;
    position: absolute;
    z-index: 1;
}
.nav .left .left-l{
    height:30px;
    width:80px;
    font-size:14px;
    color:#999999;
    line-height: 30px;
    text-align: center;
    float:left;
}
.nav .left .left-l:hover{
    color:red;
}
.nav .left .left-r:hover{
    background: #fff;
}
.nav .left .left-r{
    height:30px;
    width:70px;
    font-size:14px;
    color:#999999;
    line-height: 30px;
    text-align: center;
    float:right;
    position: relative;
}
.nav .left .left-r .w{
    height:400px;
    width:300px;
    background:#fff;
    border:1px solid #d4d3d3;
    border-top:none;
    position: relative;;
    display: none;
}
.left .left-r .w .w-l{
    height:220px;
    width:300px;
    position: relative;
    border-bottom:1px solid rgb(211, 206, 206);
}  
.w .w-l .item{
    float:left;
    height:30px;
    width:60px;
}
.w .w-l .item:nth-child(19){
    background: red;
    color:#fff;
}
.w .w-l .item:hover{
    background: #d1cece;
    color:red;
}
.left .left-r .w .w-r{
    height:160px;
    width:300px;
    position: relative;
}
.left .w .w-r .dt{
    height:50px;
    width:300px;
    position: absolute;
    left:-80px;
    line-height: 50px;
}
.left .w .w-r .dd{
    height:70px;
    width:300px;
    position: absolute;
    top:50px;
}
.w .w-r .dd .min{
    float:left;
    width:150px;
    font-size:12px;
}
.w .w-r .dd .min:hover{
    color:red;
}
.nav .right{
    height:30px;
    width:850px;
    position: absolute;
    right:0px;
    /* 层级问题解决方法 */
    z-index: 1;
}
.nav .right .nr{
    height:30px;
    width:900px;
    position: relative;
}
.nav .right .nr .for{
    display: inline-block;
    width:100px;
    float:left;
    font-size:14px;
    text-align: center;
    border-right:1px solid #ccc;
    margin-top:5px;
    color:#9999;
}
.nav .right .nr .for:nth-child(1){
    color:red;
    border-right:none;
}
.nav .right .nr .for:last-child{
    border-right:none;
}
.nav .right .nr .for:hover{
    color:red;
}
.nav .right .nr .for:nth-child(4):hover{
    background: #fff;
    height:30px;
    line-height: 30px;
    margin-top:0px;
}
.nav .right .nr .for:nth-child(6):hover{
    background: #fff;
    height:30px;
    line-height: 30px;
    margin-top:0px;
}
.nav .right .nr .for:nth-child(7):hover{
    background: #fff;
    height:30px;
    line-height: 30px;
    margin-top:0px;
    color:#999;
}
.nav .right .nr .for:nth-child(8):hover{
    background: #fff;
    height:30px;
    line-height: 30px;
    margin-top:0px;
    color:#999;
}
.nav .right .nr .for .dt-cw{
    height:170px;
    width:200px;
    border:1px solid #E4E4E4;
    background:#fff;
    display: none;
}
.right .nr .for .dt-cw .dd-spacer{
    height:100px;
    width:200px;
}
.nr .for .dt-cw .dd-spacer .dsr{
    height:30px;
    width:100px;
    float:left;
    line-height:30px;
}
.nr .for .dt-cw .dd-spacer .dsr a{
    color:#999;
}
.nr .for .dt-cw .dd-spacer .dsr a:hover{
    color:red;
}
.nr .for .dt-cw .ddor .dr a:hover{
    color:red;
}
.right .nr .for .dt-cw .ddor{
    height:80px;
    width:200px;
    border-top:1px solid #ccc;
}
.nr .for .dt-cw .ddor .dr{
    height:20px;
    width:100px;
    float:left;
    padding-top:10px;
}
.nr .for .dt-cw .ddor .dr a{
    color:#999;
}

/* ------------logo---------------- */
#logo{
    border-bottom: 2px solid red;
}
.logo{
    height:200px;
    width:1200px;
    margin:auto;
}
.logo .logo-l{
    height:150px;
    width:1200px;
}
.logo .logo-l .logo-2{
    height:150px;
    width:200px;
    background: url(//misc.360buyimg.com/jdf/1.0.0/unit/global-header/5.0.0/i/jdlogo-201708-@1x.png) no-repeat 0 40px;
    float: left;
    line-height: 150px;
    text-align: center;
}
.logo .logo-l .log{
    height:30px;
    width:100px;
    border:1px solid #E4E4E4;
    float: left;
    font-size:14px;
    line-height: 30px;
    padding-left:10px;
    margin-top:60px;
}
.logo .logo-l .log i{
    margin-left:10px;
}
.logo .logo-l .search{
    height:150px;
    width:650px;
    float: left;
    margin-left:20px;
}
.logo .logo-l .search .se{
    height:110px;
    width:700px;
    padding-top:60px;
    position: relative;
}
.logo .logo-l .search .se .form{
    height:40px;
    width:400px;
    border:2px solid #B61D1D;
    margin-left:100px;
    float: left;
    background: url(//misc.360buyimg.com/product/search/1.0.4/css/i/sprite-photo-search.png) 370px 12px no-repeat;
}
input{
    padding-left:10px;
}
.logo .logo-l .search .se .bu{
    height:40px;
    width:80px;
    font-size:16px;
    background:#B61D1D;
    color:#fff;
    margin-left:-5px;
}
.logo .logo-l .search .se .bu1{
    display: block;
    height:40px;
    width:80px;
    text-align: center;
    line-height: 40px;
    font-size:16px;
    background:#474E5c;
    color:#fff;
    position: absolute;
    top:60px;
    right:50px;
}
.logo .logo-l .search .ch{
    height:40px;
    width:700px;
    padding-left:100px;
}
.logo-l .search .ch .chl .chl-1{
    height:14px;
    font-size:12px;
    float:left;
    width:60px;
    text-align: center;
}
.logo-l .search .ch .chl .chl-1 a{
    color:#000;
}
.logo-l .search .ch .chl .chl-1 a:hover{
    color:#B61D1D;
}
.logo .logo-l .setteup{
    height:40px;
    width:150px;
    background: #F9F9F9;
    float: left;
    text-align: center;
    line-height: 40px;
    margin-left:20px;
    margin-top:60px;
    border:1px solid #E4E4E4;
}
.logo .logo-l .setteup h3{
    font-size:14px;
    font-size:12px;
}
.logo .logo-l .setteup h3 i{
    margin-left: 20px;
}